<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    {{messages|json}}
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
        <ion-button (click)="addMessage()" expand="full">Send</ion-button> 
      </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-title>Footer</ion-title> -->
  </ion-toolbar>
</ion-footer>
